<%= stylesheet_link_tag 'scaffold','general', 'application' %>
<div>
  <h1>Sistem Portal Verifikasi JKBM</h1>
  Version 1.0

  <p>
    &copy;2011
  </p>
  Powered by <span ><a style="text-decoration: underline" href="http://www.z4comp.com">Z4Comp</a></span>
</div>