<h1>Data Tindakan Medis</h1>

<table>
  <tr>
    <th>Kode</th>
    <th>Kategori Tindakan Medis</th>
    <th>Nama</th>
    <th>Tarif</th>
    <th>Flag</th>
    <th></th>
  </tr>
  <tr>
    <td>
      <input type="text" size="7" onkeyup="searching(this.value, 'kode')"/>
    </td>
    <td>
      <input type="text" size="7" onkeyup="searching(this.value, 'kategori_tindakan_medis')"/>
    </td>
    <td>
      <input type="text" size="7" onkeyup="searching(this.value, 'nama')"/>
    </td>
    <td colspan="9"></td>
  </tr>

  <tbody id="data_ajax_target">
    <%= render :partial => "tindakan_medis/data_index", :locals => {:tindakan_medis => @tindakan_medis} %>
  </tbody>

</table>

<script type="text/javascript">
  function searching(text, tipe){
    jQuery.ajax({
      url: "/tindakan_medis/index/new",
      dataType: "script",// "json",
      data: {
        authenticity_token: encodeURIComponent('<%= u form_authenticity_token %>'),
        param: text,
        tipe: tipe
      },
      beforeSend: function(data) {
        jQuery('#loading_body').toggle();
      },
      success: function(data) {
        //jQuery('#data').html(data);
      },
      complete: function(data) {
        jQuery('#loading_body').toggle();
      }
    });
  }
</script>

