<%
  @d_user_detail = DUserDetail.find_by_iduser(@user.id)
  if @d_user_detail.url_nick.nil? || @d_user_detail.url_nick == ""
    link_adddress = "http://#{SITE}/#{@d_user_detail.user.to_param}/profile/#{@d_user_detail.id}"
  else
    link_adddress = "http://#{SITE}/profile/#{@d_user_detail.url_nick}"
  end
%>
<div style="margin-bottom:10px">
  <%= (link_to @user.full_name, link_adddress) rescue @user%> <%=@respon%> <%=link_to @title, @url%>
</div>



