
<div id="popup" style="display:none;width:450px;height:250px;">
  <div id="popup_box">
    <div id="popup_box_header">
      
    </div>
    <div id="popup_box_content_message" style="display:none"></div>
    <div id="popup_box_content_error_message" style="display:none"></div>
    <div id="popup_box_content">
      
      Loading...
    </div>
    <div style="clear:both"></div>
    <div id="popup_box_footer">
      <input value="Close" name ="Close" type="button" class="as_button"  onclick="PopUp.hidePopUp('popup');">
    </div>
  </div>
</div>