
<p>
  <b>Kode:</b>
  <%= @alasan_verifikasi.kode %>
</p>

<p>
  <b>Alasan:</b>
  <%= @alasan_verifikasi.alasan %>
</p>


<%#= link_to 'Edit', edit_alasan_verifikasi_path(@alasan_verifikasi) %> 
<%#= link_to 'Back', alasan_verifikasis_path %>
