<h1>Detail Kategori Tindakan Penunjang</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Kode:</b>
  <%= @kategori_tindakan_penunjang.kode %>
</p>

<p>
  <b>Nama:</b>
  <%= @kategori_tindakan_penunjang.nama %>
</p>


<%#= link_to 'Edit', edit_kategori_tindakan_penunjang_path(@kategori_tindakan_penunjang) %> |
<%#= link_to 'Back', kategori_tindakan_penunjangs_path %>
