<style type="text/css">
  fieldset{
    background-color: transparent;
}
</style>

<div style="float: right; margin-right: 10px">
  <%= button_to_function("Tutup", "javascript:self.close ();", :class => "as_button noprint")%>
</div>
<div style="clear: both"></div>
   
<div>
  
</div>

<div style="">
  <%= button_to_function("Print", "javascript:print()", :class => "as_button noprint")%>
</div>