

<p>
  <b>Kode:</b>
  <%= @kategori_obat.kode %>
</p>

<p>
  <b>Nama:</b>
  <%= @kategori_obat.nama %>
</p>


<%#= link_to 'Edit', edit_kategori_obat_path(@kategori_obat) %> 
<%#= link_to 'Back', kategori_obats_path %>
